<!DOCTYPE HTML>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" href="../css/sb-admin-2.css" type="text/css"/>

<body>
<div class="container">
    <form>
        <div>
            <label for="userId">이름</label>
            <input type="text" id="userId" name="userId" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="수량을 입력하세요">
        </div>
        <div>
            <label for="companyName">회사명</label>
            <input type="text" id="companyName" name="companyName" class="form-control" placeholder="수량을 입력하세요">
        </div>
        <div>
            <label for="department">부서</label>
            <input type="text" id="department" name="department" class="form-control" placeholder="수량을 입력하세요">
        </div>
        <div>
            <button type="button" class="btn-primary" id="createUserButton">생성</button>
            <button type="button" class="btn-dark" id="cancelButton">취소</button>
        </div>
    </form>
</div>
</body>
</html>


<script type="text/javascript" src="../js/user/user-form-model.js"></script>
<script type="text/javascript" src="../js/user/user-form-view.js"></script>
<script type="text/javascript" src="../js/user/user-form-controller.js"></script>
<script type="text/javascript" src="../js/user/user-form-app.js"></script>


