<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>계정 목록</title>
</head>
<body>
<th:block layout:fragment="content">

        <div class="container">
            <label for="userSearchKeyword"></label><input type="text" class="form-control float-left w-75 mr-1" id="userSearchKeyword">
            <button type="button" class="btn btn-dark" id="userSearchButton">검색</button>
        </div>
        <div class="container-fluid mt-3">
            <div class="mb-3 float-right">
                <button type="button" id="moveForm" class="btn btn-primary">등록</button>
            </div>
            <div id="userGrid"></div>
        </div>
</th:block>

<th:block layout:fragment="scriptFragment">

</th:block>
</body>
</html>


<script type="text/javascript" th:src="@{/js/user/user-list-grid.js}"></script>
<script type="text/javascript" th:src="@{/js/user/userList.js}"></script>



